<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="eKanbanModel" connectionString="metadata=res://*/eKanbanModel.csdl|res://*/eKanbanModel.ssdl|res://*/eKanbanModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=ORCL;password=Oracle_123;persist security info=True;user id=SYSTEM&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>